<!DOCTYPE html>
<html>

<head>
  <style type="text/css">
    body {
      font: 14px Tahoma;
      text-rendering: optimizelegibility;
    }

    tr:nth-child(even) {
        background-color: #b3e0ff ;
      }

    .body {
      width: 960px;
      margin: auto;
    }

    th {
      font-weight: 200
    }

    th,
    td {
      padding-right: 3px;
      padding-bottom: 3px;
    }

    a:link {
      color: #1F78B4;
      text-decoration: none;
    }

    h3 {
      font-size: 16px;
      font-weight: 300;
      color: #ff33cc
    }
  </style>
</head>

<body>

<table>
    <tr>
        <td><b/></td>
        <td><b/>CURRENT</td>
        <td><b/>BASELINE</td>
    </tr>
    <tr>
        <td><b/>Total Bytes</td>
        <td>$TOTAL_BYTES$</td>
        <td>$TOTAL_BYTES_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>Number OK</td>
        <td>$N_OK$</td>
        <td>$N_OK_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>Number Failed</td>
        <td>$N_FAILED$</td>
        <td>$N_FAILED_BASELINE$</td>
    </tr>   
    <tr>
        <td><b/>Number Threads</td>
        <td>$N_THREADS$</td>
        <td>$N_THREADS_BASELINE$</td>
    </tr>   
</table>

<h3>Durations</h3>

<i>The performance of the current run (vs. the baseline):</i><br>
<b>$PERFORMANCE_OUTCOME$</b>.
<br><br>

<table>
  <tr>
      <td><b/></td>
      <td><b/>CURRENT</td>
      <td><b/>BASELINE</td>
  </tr>
  <tr>
      <td><b/>Scale</td>
      <td>$SCALE$s</td>
      <td>$SCALE_BASELINE$s</td>
  </tr>
    <tr>
        <td><b/>Total</td>
        <td>$TOTAL_DURATION$</td>
        <td>$TOTAL_DURATION_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>Mean requests/sec</td>
        <td>$RPS$</td>
        <td>$RPS_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>Mean</td>
        <td>$MEAN$</td>
        <td>$MEAN_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>StdDev</td>
        <td>$STDEV$</td>
        <td>$STDEV_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>Min</td>
        <td>$MIN$</td>
        <td>$MIN_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>Quartile 1st</td>
        <td>$Q1$</td>
        <td>$Q1_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>Median</td>
        <td>$Q2$</td>
        <td>$Q2_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>Quartile 3rd</td>
        <td>$Q3$</td>
        <td>$Q3_BASELINE$</td>
    </tr>
    <tr>
        <td><b/>Max</td>
        <td>$MAX$</td>
        <td>$MAX_BASELINE$</td>
    </tr>
</table>
  
</body>

</html>