<!DOCTYPE html>
<html>

<head>
  <style type="text/css">
    body {
      font: 16px Tahoma;
      text-rendering: optimizelegibility;
    }

    .body {
      width: 960px;
      margin: auto;
    }

    a:link {
      color: #1F78B4;
      text-decoration: none;
    }

    h1 {
      font-size: 24px;
      font-weight: 300;
      color: #ff33cc
    }
  </style>
</head>

<body>  
  <h1>SUMMARY</h1>
  <div>
    <iframe src="./components/summary.html" seamless width="600" height="600" frameBorder="0">
      Warning: summary.html could not be included.
    </iframe>
  </div>
  <div>

  <div>
    View data:<br>
    <a href="./data/stats.json">statistics</a>
    <br>
    <a href="./data/samples.json">samples</a>
  </div>
  
  <h1>GRAPHS</h1>
  <div>
    <iframe src="./components/durations_distribution.html" seamless width="1600" height="600" frameBorder="0">
      Warning: durations_distribution.html could not be included.
    </iframe>
  </div>
  <div>
    <iframe src="./components/durations_histogram.html" seamless width="1200" height="600" title="histogram" frameBorder="0">
      Warning: durations_histogram.html could not be included.
    </iframe>
  </div>
  <div>
    <iframe src="./components/qq_plot.html" seamless width="1200" height="600" frameBorder="0">
      Warning: qq_plot.html could not be included.
    </iframe>
  </div>
  <div>
    <iframe src="./components/durations_timeseries.html" seamless width="1200" height="600" frameBorder="0">
      Warning: durations_timeseries.html could not be included.
    </iframe>
  </div>
  <div>
    The bootstrap distribution of means visualizes the variation of the average durations of x requests.<br>
    <iframe src="./components/bootstrap_histogram.html" seamless width="1200" height="600" frameBorder="0">
      Warning: bootstrap_histogram.html could not be included.
    </iframe>
  </div>
</body>

</html>