<!DOCTYPE html>
<html>

<head>
  <style type="text/css">
    body {
      font: 14px Tahoma;
      text-rendering: optimizelegibility;
    }

    tr:nth-child(even) {
        background-color: #b3e0ff ;
      }

    .body {
      width: 960px;
      margin: auto;
    }

    th {
      font-weight: 200
    }

    th,
    td {
      padding-right: 3px;
      padding-bottom: 3px;
    }

    a:link {
      color: #1F78B4;
      text-decoration: none;
    }

    h3 {
      font-size: 16px;
      font-weight: 300;
      color: #ff33cc
    }
  </style>
</head>

<body>

<table>
    <tr>
        <td><b/>Total Bytes</td>
        <td>$TOTAL_BYTES$</td>
    </tr>
    <tr>
        <td><b/>Number OK</td>
        <td>$N_OK$</td>
    </tr>
    <tr>
        <td><b/>Number Failed</td>
        <td>$N_FAILED$</td>
    </tr>   
    <tr>
        <td><b/>Number Threads</td>
        <td>$N_THREADS$</td>
    </tr>   
</table>

<h3>Durations (in $SCALE$s)</h3>
<table>
    <tr>
        <td><b/>Total</td>
        <td>$TOTAL_DURATION$</td>
    </tr>
    <tr>
        <td><b/>Mean</td>
        <td>$MEAN$</td>
    </tr>
    <tr>
        <td><b/>StdDev</td>
        <td>$STDEV$</td>
    </tr>
    <tr>
        <td><b/>Min</td>
        <td>$MIN$</td>
    </tr>
    <tr>
        <td><b/>Quartile 1st</td>
        <td>$Q1$</td>
    </tr>
    <tr>
        <td><b/>Median</td>
        <td>$Q2$</td>
    </tr>
    <tr>
        <td><b/>Quartile 3rd</td>
        <td>$Q3$</td>
    </tr>
    <tr>
        <td><b/>Max</td>
        <td>$MAX$</td>
    </tr>
</table>
  
</body>

</html>